@import "./assets/catpuccin.scss"; //pour importer la color palette

#root {

  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
}

.gras{
  font-weight: bold;
}

.left-div, .right-div{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;

  backdrop-filter: blur(10px);
}

.right-div{
  right: 0;
  cursor: url(./assets/check-o.svg) 12 12, auto;
  background-color: rgba(0, 255, 0, 0.3);
}

.left-div{
  left: 0;
  cursor: url(./assets/close-o.svg) 12 12, auto;
  background-color: rgba(255, 0, 0, 0.3);
}

.tinder-card{
  height: 50vh;
  width: 20vw;
  background-color: $mocha-base;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: $macchiato-text;
  box-shadow: 0 0 1rem 0.5rem $macchiato-base;
  transition: all 0.5s ease-in-out;
}

.tinder-card img{
  height: 10rem;
  width: 10rem;
  position: relative;
}
.tinder-card p{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.left-div img{
  height: 10rem;
  width: 10rem;
}

.right-div img{
  height: 15rem;
  width: 15rem;
}

//CarteReponse
.text-reponse {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #110202;
  margin: 3rem;
  box-shadow: 0 0 0 2px #917878;
}

.case-reponse {
  width: 88vw;
  height: 100%;
  object-fit: cover;
  border: 2px solid #110202 ;
  box-shadow: 0 0 0 2px #917878;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  margin: 3rem;
  &:hover {
    transform: scale(1.1);
  }

  backdrop-filter: blur(10px);
}

.logo{
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 5rem;
}

.TinderText {
  font-size: 1.2rem;
  position: relative;
  text-align: justify;
  color: $mocha-text;
  padding-inline: 5rem;
  text-shadow: 5px 5px 30px black;
  margin: 10vw;
  border: solid white;
  border-radius: 2rem;
  background-color: rgba(0.1, 0.1, 0.1, 0.6);
  backdrop-filter: blur(10px);
}