/* page404.scss */

.tetris {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #000;
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: #fff;
  }

  .block{
    width: 20px;
    height: 20px;
    background-color: blue;
  }